
// set table background color individually ind the color-scheme file. 
// this is just the definition
$table-header-color: $table-background-color !default;
th {
  background-color: $table-header-color;
}


// add option for text justification
.text-justify {
  text-align: justify !important;
}



// a simple "card object"
$card-color: $body-background-color !default;
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  transition: 0.3s;
  background-color: $card-color;
  margin-bottom: 10px;
  position: relative;
  border-radius: 10px;
}

/* On mouse-over, add a deeper shadow for card */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



/* format figure caption */
figcaption {

    margin-bottom:20px;
    font-style: italic;
    color: $grey-dk-000;
    text-align: left;

}




// Definitions of TABS
$tab-header-color: $grey-lt-200 !default;
.tab {
  overflow: hidden;
  background-color: $tab-header-color;
  border-radius: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: darken($tab-header-color, 5%);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: darken($tab-header-color, 10%);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid $border-color;
  border-top: none;
  margin-bottom: 20px;
}
/* Tab fading effect of 1 second */
.tabcontent {
  animation: fadeEffect 1s;
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


// Define Alert and notification blocks
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}

.alert h4 {
    margin-top: 0;
    color: inherit
}

.alert .alert-link {
    font-weight: 700
}

.alert>p,
.alert>ul {
    margin-bottom: 0
}

.alert>p+p {
    margin-top: 5px
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px
}


.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.alert-success hr {
    border-top-color: #c9e2b3
}

.alert-success .alert-link {
    color: #2b542c
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.alert-info hr {
    border-top-color: #a6e1ec
}

.alert-info .alert-link {
    color: #245269
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}

.alert-warning hr {
    border-top-color: #f7e1b5
}

.alert-warning .alert-link {
    color: #66512c
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.alert-danger hr {
    border-top-color: #e4b9c0
}

.alert-danger .alert-link {
    color: #843534
}



