
$link-color: $blue-100;

$code-background-color: $grey-lt-200;
$code-text-color: $grey-dk-100;
$search-background-color: $grey-lt-200;

$border-color: $grey-lt-300;

$content-width: 850px;

$card-color: $grey-lt-100;

$table-header-color: $grey-lt-000;

// For Tab menues
$tab-header-color: $grey-lt-300;
$tab-text-color: $blue-100;

// copy buton on code boxes
$copybtn-color: $grey-dk-000;
