
<!-- set the sites' favicon -->
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon-16x16.png">



<!-- include Font-Awesome icons -->
<!--
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
-->
<link href="{{ site.baseurl }}/assets/css/fontawesome/css/all.css" rel="stylesheet">

<!-- strap some boots -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap-grid.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap-utilities.css">



<!-- all other custom CSS stuff -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/customstyles.css">


