

<div class="row">
<!--
<blockquote class="twitter-tweet" data-width="400" data-height="400"><p lang="en" dir="ltr">[ASAP] Fast Screening of Minimum Energy Crossing Points with Semiempirical Tight-Binding Methods <a href="https://t.co/lyOmdpjoX7">https://t.co/lyOmdpjoX7</a></p>&mdash; JCTC Papers (@jctc_papers) <a href="https://twitter.com/jctc_papers/status/1572293038533115904?ref_src=twsrc%5Etfw">September 20, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
-->
<a class="twitter-timeline"  data-width="400" data-height="500" data-theme="light" href="https://twitter.com/GrimmeLab?ref_src=twsrc%5Etfw">Tweets by GrimmeLab</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>

